<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}CoLunch{% endblock %}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/bootstrap.min.css.map"
    />
    <link
      id="favicon"
      rel="icon"
      type="image/x-icon"
      href="/assets/img/favicon.ico"
    />
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
          <img
            src="/assets/img/favicon-32x32.png"
            width="30"
            height="30"
            class="d-inline-block align-top"
            alt=""
          />
          CoLunch
        </a>
        <form
          class="d-flex"
          role="search"
          hx-post="/create"
          hx-target="#notifications"
          hx-swap="afterbegin"
        >
          <input
            name="content"
            class="form-control me-2"
            type="search"
            placeholder="Type to search"
            aria-label="Search"
            hx-get="/recipes/"
            hx-trigger="keyup changed delay:500ms"
            hx-target="#search-results"
          />
          <button class="btn btn-outline-success" type="submit">Create</button>
        </form>
      </nav>
      <div id="notifications"></div>
      {% block content %} {% endblock %}
    </div>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js.map"></script>
    <script src="/assets/js/htmx.min.js"></script>
    {% block scripts %} {% endblock %}
  </body>
</html>
