{% extends "base.html" %} {% block content %} {{ recipe_method }} {{ recipes }}

<div id="youtube-url-div" hx-swap-oob="true"></div>
<div id="webpage-url-div" hx-swap-oob="true"></div>
<div id="images-div" hx-swap-oob="true"></div>
<div id="recipe-content" hx-swap-oob="true"></div>
<div id="recipe-from-youtube-ws" hx-swap-oob="true"></div>
<div id="recipe-from-webpage-ws" hx-swap-oob="true"></div>
<div id="recipe-from-images-ws" hx-swap-oob="true"></div>

{% endblock %} {% block scripts %}
<script src="assets/js/htmx.min.js"></script>
<script src="assets/js/htmx-ws.js"></script>
{% endblock %}
