<div id="recipe-method" hx-swap-oob="true">
  <div class="card-group">
    <div class="card" hx-get="/description-div">
      <div class="card-body">
        <h5 class="card-title">Description</h5>
        <p class="card-text">Create something delicious from a description.</p>
      </div>
    </div>
    <div class="card" hx-get="/youtube-div">
      <div class="card-body">
        <h5 class="card-title">YouTube</h5>
        <p class="card-text">
          Create something delicious from a YouTube video.
        </p>
      </div>
    </div>
    <div class="card" hx-get="/webpage-div">
      <div class="card-body">
        <h5 class="card-title">Webpage</h5>
        <p class="card-text">Create something delicious from a webpage.</p>
      </div>
    </div>
    <div class="card" hx-get="/images-div">
      <div class="card-body">
        <h5 class="card-title">Images</h5>
        <p class="card-text">
          Create something delicious from one or more images.
        </p>
      </div>
    </div>
  </div>
</div>
